<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />

    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="header.css">

</head>

<body>
    <header>
        <a href="#" class="logo">올쮸</a>

        <ul class="navlist">
            <li><a href="#home">홈</a></li>
            <li><a href="#login">로그인</a></li>
            <li><a href="#cart">cart</a></li>
            <li><a href="#mypage">마이페이지</a></li>
        </ul>

        <div class="header-icons">
            <a href="#"><i class="uil uil-shopping-bag"></i>
                <div class="uil uil-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="home" i="home">

        <div class="home-text">
            <img src="images/bag.jpg">
            <h1>귀염뽀짝 <br><span>신상잔치</span></h1>
            <p>어쩌구 저쩌구 라라라라</p>
            <!-- <a href="#" class="btn">보러가기</a> -->
        </div>
    </section>

    <section class="featured" id="featured">
        <div class="center-text">
            <h2>신상봐라 바라밤</h2>
        </div>

        <div class="featured-content">
            <div class="row">
                <img src="images/fleece3.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/fleece2.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/fleece.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
        </div>
        <div class="center-text">
            <h2>베스트셀러</h2>
        </div>
        <div class="featured-content2">

            <div class="row">
                <img src="images/fluffy.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/orange.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/fleece4.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>125,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/tshirt.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/stripes.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>
            <div class="row">
                <img src="images/maltese.jpg">
                <div class="fea-text">
                    <h5>고냥이</h5>
                    <p>25,000</p>
                </div>
            </div>

        </div>
    </section>



    <script src="/sticky-bar.js"></script>

</body>

</html>