<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      
    </style>
</head>
<body>
    <h1>마이페이지</h1>
    <h3>이메일: <%= info.userInfo.user_email %></h3>
    <h3>이름: <%= info.userInfo.user_name %></h3>
    <h3>주소: <%= info.userInfo.user_address %></h3>
    <hr>
    <h1>장바구니 목록</h1>
    <h3><%= product.userProduct %></h3>
    
</body>
</html>