<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />

    <link rel="stylesheet" href="../css/product-detail.css">
    <link rel="stylesheet" href="../css/header.css">

</head>

<body>
    <header>
        <a href="#" class="logo">올쮸</a>

        <ul class="navlist">
            <li><a href="#home">홈</a></li>
            <li><a href="#login">로그인</a></li>
            <li><a href="#cart">cart</a></li>
            <li><a href="#mypage">마이페이지</a></li>
        </ul>

        <div class="header-icons">
            <a href="#"><i class="uil uil-shopping-bag"></i>
                <div class="uil uil-menu" id="menu-icon"></div>
        </div>
    </header>

    <section class="productpage" i="productpage">

        <div class="single-product">
            <div class="row">
                <div class="col-2">
                    <img src="images/fleece.jpg" width="400">
                    
                </div>
                <div class="col-2">
                    <h1>플리스</h1>
                    <h4>78000</h4>

                    <select>
                        <option>사이즈</option>
                        <option>S</option>
                    </select>

                    <input type="number" value="1">
                    <a href="" class="btn">카트에 넣기</a>

                    <h3>자세히 보기 <i class="uil uil-right-indent-alt"></i></h3>
                    <br>
                    <p>귀엽고 귀엽고 귀엽고 아주 귀여운 플리스 티셔츠 목폴라
                        댕댕이 최고 짱짱 귀엽고 ㅟ엽고 귀엽고 아주
                        귀여운 플리스 티셔츠 목폴라</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/sticky-bar.js"></script>
</body>

</html>