#containerBox {
	position:fixed;
	left:0px;
  bottom:0px;
  height: auto;
  width: auto;
  z-index:999;
  border: 0;
}
#chatView {
  height: 300px;
  width: 200px;
  overflow-y: scroll;
}
#chatForm {
  height: 10%;
  width: 200px;
  border-top: 1px solid black;
  text-align: center;
}
#msg {
  width: 80%;
  height: 32px;
  border: 1px solid rgb(188, 188, 188);
}
#openChat, #chatList{
  width: 80px;
  height: 40px;
}
#chatBox{
  border:1px solid rgb(255, 221, 206);
  display:none;
  width:200px;
  background-color: #ffefefe6;
}
#chatHead{
  background-color: #ffefef;
  color: black;
  display:flex;
}
#chatHead h3{
  height: 40px;
  text-align: center;
  display:inline-block;
  margin:auto;
  font-size: 20px;
  font-weight: 200;
}
#openChat{
  width: 160px;
  margin-left: 18px;
  margin-bottom: 30px;
  background-color: #ffffffe6;
  color: black;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
#openChat:hover{
  background: pink;
}
.adminMsgLine{
  overflow: auto;
}
.me{
  overflow: auto;
  height:400px;
  width:fit-content;
}
.me::-webkit-scrollbar {
  width: 10px;  /* 스크롤바의 너비 */
}
.me::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #ffc9a5; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}
.me::-webkit-scrollbar-track {
  background: #f7ede6;  /*스크롤바 뒷 배경 색상*/
}
.msgLine, .adminMe{
  display: inline-block;
  width:100%;
  font-size: 17px;
}