*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.navlist a{
    color: black;
    font-weight: 600;
    font-size: 16px;
    transition: all .36s ease;
}
.navlist a:hover{
    color: rgb(150, 129, 104);
} 
.header-icons i{
    font-size: 32px;
    color: black;
    margin-right: 20px;
    transition: all .36s ease;
} 
.header-icons i:hover{
    color: rgb(150, 129, 104);
}
#menu-icon{
    font-size: 34px;
    color: black;
    z-index: 10001;
}