*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: white;
    color: black;
}
section{
    padding: 100px 14%;
}

.page-header {
    background: white;
    border: 1px solid black;
}

.page-header h2 {
    padding-top: 50px;
}

.admin-wrapper{
    background-color: green;
    display: flex;
}

.admin-wrapper .left-sidebar{
    flex: 2;
    height: 100%;
    background: red;

}
.admin-wrapper .admin-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}
.admin-content .page-title{
    text-align: center;
    margin-bottom: 1.5rem;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}
th, 
td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid green;
} 

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.3s;
}
.btn:hover{
    background: #563434;
}