*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: white;
    color: black;
}
section{
    padding: 100px 14%;
}
.home{
    min-height: 100vh;
    width: 100%;
    background-color:rgb(245, 237, 231);
    background-image: url(../ecommerce/images/couple.jpg);
    background-size: cover;
    background-position: center top;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    cursor: default;
}

header.sticky{
    background: rgb(245, 237, 231);
    padding: 14px 14%;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}
