*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(245, 237, 231);
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

section{
    padding: 100px 14%;
}
.user-table{
    padding-top: 250px;
    padding-bottom: 100px;
}
table {
    width: 700px;
    text-align: center;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    border-radius: 5px;
}

caption {
    font-size: 40px;
    color: rgb(85, 73, 58);
    font-weight: 700;
    padding-bottom: 80px;
}

table td {
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);

}

table th {
    background-color: #73685d;
    color: #fff;
    padding: 10px;
}

img {
    width: 90px;
    height: 90px;
}

.view,
.delete {
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.view {
    background-color: pink;
    transition: background 0.3s;
}

.delete {
    background-color: rgb(218, 161, 170);
    transition: background 0.3s;
}
.view:hover,
.delete:hover{
    background: #563434;
}

.tablefoot {
    padding: 0;
}