*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    /* background: white; */
    color: black;
    -ms-overflow-style: none;
    background-color: rgb(245, 237, 231);
}

::-webkit-scrollbar {
    display: none;
}

section{
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    max-width: 1300px;
    padding: 100px 14%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.tableHeader {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
th{
    text-align: left;
}
thead{
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
  }
    
   td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
  }
  
  a {
    color: #73685d;
  }
  
/* modal */
#my_modal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: rgb(241, 220, 203);
    border: 1px solid #888;
    border-radius: 3px;
}

#my_modal .modal_close_btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

a { 
    text-decoration-line: none;
}
a:link { color : black; }
a:visited { color : black; }
a:hover { color : cyan; }

.modal_button {
    background-color: rgb(241, 220, 203);
    width: 40px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    border-color: rgb(119, 109, 101);
    margin-top: 3px;
}
/*       */

section {
    background-color: rgb(245, 237, 231);
}

.page-header {
    margin-top: 30px;
}

.contact {
    margin: 0px 0px 0px 35%;
}

.my_page_content {
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    right: 365px;
    bottom: 130px;
}

h3 {
    margin-bottom: 35px;
}

#popup_open_btn {
    margin: 0 auto 10px 180px;
    width: 150px;
    height: 40px;
    background-color: rgb(241, 220, 203);
    border: 2px solid;
    border-radius: 10px;
}

