<header>
	<a href="javascript:void(0)" class="closeBtn" onclick="toggleNav()">&equals;</a>
	<a href="/home" class="logo">올쮸</a>

	<ul class="navlist">
			<li><a href="/home">홈</a></li>
			<%if (user) { %>
				<%if(user.user_type == "admin") {%>
				<li><a href="/page/manage_product">상품관리</a></li>
				<li><a href="/page/manage_user">고객관리</a></li>
				<li><a href="/users/logout">로그아웃</a></li>
				<%} else { %>
				<li><a href="/mypage">마이페이지</a></li>
				<li><a href="/users/cart">장바구니</a></li>
				<li><a href="/users/logout">로그아웃</a></li>
				<%}%>
			<%} else { %>
				<li><a href="/users/signin">로그인</a></li>
			<% } %>
	</ul>

	<div class="header-icons">
			<a href="#"><i class="uil uil-shopping-bag"></i>
					<div class="uil uil-menu" id="menu-icon"></div>
			</a>
	</div>
</header>