<div class="sideNav">
    
    <div id="mySidenav">
        <%if(category){%>
        
        <ul>
            <%for (const menu of category){%>
            <li onclick="clickMenu('<%-menu.category%>')"><a><%-menu.category%></a></li>
            <%}%>
        </ul>
        <%}%>
        <%if (user) { %>
        <%-include('chatroom.ejs')%>
        <%} else {%>

        <a href="/users/signin" class="chatLogin">
            로그인 필요
        </a>
        <%}%>
    </div>
</div>