<div class="sideNav">
    <%if (user) { %>
    <div id="mySidenav">
        <%if(category){%>
        <%for (const menu of category){%>
        <ul><%-menu.category%></ul>
        <%}%>
        <%}%>
        <%-include('chatroom.ejs')%>
    </div>
    <%} else {%>
    <a href="/users/signin">
        로그인이 필요합니다.
    </a>
    <%}%>
</div>