<div class="sideNav">
    <%if (user) { %>
    <div id="mySidenav">
        <%if(category){%>
        
        <ul>
            <%for (const menu of category){%>
            <li onclick="clickMenu('<%-menu.category%>')"><a><%-menu.category%></a></li>
            <%}%>
        </ul>
        <%}%>
        <%-include('chatroom.ejs')%>
    </div>
    <%} else {%>
    <a href="/users/signin">
        로그인이 필요합니다.
    </a>
    <%}%>
</div>