<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #my_modal {
            display: none;
            width: 300px;
            padding: 20px 60px;
            background-color: #fefefe;
            border: 1px solid #888;
            border-radius: 3px;
        }
    
        #my_modal .modal_close_btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }

        a { text-decoration-line: none; }
        a:link { color : black; }
        a:visited { color : black; }
        a:hover { color : cyan; }
    </style>
</head>
<body>
    <h1>마이페이지</h1>
    <h3>이메일: <%= info.userInfo.user_email %></h3>
    <h3>이름: <%= info.userInfo.user_name %></h3>
    <h3>주소: <%= info.userInfo.user_address %></h3>
    <div id="my_modal">
        <p>비밀번호: <input type="text" id="password"></p>
        <p>주소: <input type="text" id="address"></p>
        <button onclick="edit_btn()">수정</button>
        <a class="modal_close_btn">X</a>
    </div>
    <button id="popup_open_btn">회원정보 수정</button>
    <hr>
    <!-- <h1>장바구니 목록</h1>
        
        <%# for (let i = 0; i < cart.productName.length; i++) { %>
        <p>상품이미지: <%#= cart.productImage[i] %> </p>
        <p>상품명: <%#= cart.productName[i] %></p>
        <p>상품가격: <%#= cart.productPrice[i] %></p>
        <p>수량: <%#= cart.productCount[i] %></p>
        <button onclick="cartPurchase_btn()">구입</button>
        <button onclick="cartDelete_btn()">삭제</button>
        <%# } %> -->
        
        
    <script>
        // ※※※※※※※※※※※※※※※※※※※※모달창 코드※※※※※※※※※※※※※※※※※※※※
        function modal(id) {
            let zIndex = 9999;
            let modal = document.getElementById(id);

            // 모달 div 뒤에 희끄무레한 레이어
            let bg = document.createElement('div');
            bg.setStyle({
                position: 'fixed',
                zIndex: zIndex,
                left: '0px',
                top: '0px',
                width: '100%',
                height: '100%',
                overflow: 'auto',
                // 레이어 색갈은 여기서 바꾸면 됨
                backgroundColor: 'rgba(0,0,0,0.4)'
            });
            document.body.append(bg);

            // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
            modal.querySelector('.modal_close_btn').addEventListener('click', function () {
                bg.remove();
                modal.style.display = 'none';
            });

            modal.setStyle({
                position: 'fixed',
                display: 'block',
                boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',

                // 시꺼먼 레이어 보다 한칸 위에 보이기
                zIndex: zIndex + 1,

                // div center 정렬
                top: '50%',
                left: '50%',
                transform: 'translate(-50%, -50%)',
                msTransform: 'translate(-50%, -50%)',
                webkitTransform: 'translate(-50%, -50%)'
            });
        }

        // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
        Element.prototype.setStyle = function (styles) {
            for (let k in styles) this.style[k] = styles[k];
            return this;
        };

        document.getElementById('popup_open_btn').addEventListener('click', function () {
            // 모달창 띄우기
            modal('my_modal');
        });
        //// ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
    </script>
</body>
<script>
    // ※※※※※※※※※※※※※※※※※※※※서버로 POST※※※※※※※※※※※※※※※※※※※※
    function edit_btn() {
        let user_password = $('#password').val()
        let user_address = $('#address').val()
        if (user_password === '' && user_address === '') {
            alert('내용을 입력하세요.')
            return
        }
        $.ajax({
            type: 'PATCH',           // 타입 (get, post, put 등등)
            url: '/page/mypage',    // 요청할 서버url
            data: { 
                "user_password": user_password,
                "user_address": user_address
            },
            success: function (response) { // 결과 성공 콜백함수
                alert(response['message'])
                window.location.reload()
            },
            error: function (error) { // 결과 에러 콜백함수
                alert('보내기 실패' + error)
            }
        })
    }

    // function cartDelete_btn() {
        
    //     $.ajax({
    //         type: 'DELETE',           // 타입 (get, post, put 등등)
    //         url: '/page/mypage',    // 요청할 서버url
    //         data: { } ,
    //         success: function (response) { // 결과 성공 콜백함수
    //             alert(response['message'])
    //         },
    //         error: function (error) { // 결과 에러 콜백함수
    //             alert('보내기 실패' + error)
    //         }
    //     })
    // }

</script>
</html>