<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script defer type="text/javascript" src="../js/product_detail.js"></script>

    <link rel="stylesheet" href="../css/home.css" type="text/css">
    <link rel="stylesheet" href="../css/header.css" type="text/css">
    <link rel="stylesheet" href="../css/chatroom.css" type="text/css">
    <link rel="stylesheet" href="../css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="../css/product_detail.css" type="text/css">

</head>

<body>
    <%-include('component/header.ejs')%>
        <section class="productpage" i="productpage">

            <div id="single-product" class="single-product">
                
            </div>
        </section>
        <%-include('component/sidebar.ejs')%>
            <script src="../js/sticky-bar.js"></script>
</body>

</html>