<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/modal.css" rel="stylesheet" type="text/css">
    <link href="../css/sign.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="../css/home.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="../css/header.css" rel="stylesheet" type="text/css">
    <title>올리쮸 회원가입</title>
</head>
<body>
<div class="container-fluid">
</div>
<%-include('component/header.ejs')%></div>
<div class="main_container">
    <div class="container" id="join_form">
        <form class="form">
            <h2 class="form_title">회원 가입</h2><br>
            <div id="id_box">
                <input type="text" name="user_email" id="user_email" class="form-control" style="display: inline-block" placeholder="이메일"/>
                <button type="button" class="btn btn-primary" id="user_id_check_btn" onclick="emailCheck()">인증하기</button>
            </div><br>
            <input type="password" placeholder="비밀번호" name="password" id="password" class="form-control" /><br>
            <input type="password" placeholder="비밀번호 확인" id="password_chk" class="form-control" />
            <div id="check_box"><font id="chkNotice" size="2"></font></div><br>
            <input type="text" placeholder="이름" id="user_name" class="form-control" />
            <input type="tel" placeholder="휴대폰 번호(010-0000-0000)" name="user_phone" id="user_phone" class="form-control" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}"/><br>
            <input type="text" placeholder="주소" id="user_address" class="form-control" />
            <button class="btn btn-info" type="button" id="register_button" onclick="signup()">회원 가입</button>
        </form>
    </div>
    <div class="right-sidebar">
    </div>
</div>
</body>
<%-include('component/modal.ejs')%>
<script type="text/javascript" src="../js/modal.js"></script>
<script>
    let refresh = 0
    let id_check = false
    validateUserData = (id, password) => {
        let idx = id.split("@");
        const idRegex = /^[a-zA-Z0-9]{3,15}$/     // 영어 & 숫자가 나오면서 3-15글자 사이여야 통과됨
        const pwRegex = /^[a-zA-Z0-9]{4,15}$/
        if(idRegex.test(idx[0]) === false){
            return 'ID 형식이 일치하지 않습니다.'
        } else if(pwRegex.test(password) === false){
            return '패스워드 형식이 일치하지 않습니다.'
        } else if(password.includes(id)){
            return '패스워드에 닉네임이 포함되어 있습니다.'
        }
        return false;
    }
    function signup(){
        let user_email = $('#user_email').val()
        let password = $('#password').val()
        let password_chk = $('#password_chk').val()
        let user_name = $('#user_name').val()
        let user_phone = $('#user_phone').val()
        let user_address = $('#user_address').val()
        if([user_email, password, user_name, user_phone, user_address].includes('')){
            modalOpen('칸이 비어있습니다.')
            return
        }
        if(password != password_chk){
            modalOpen('비밀번호가 일치하지 않습니다.')
            return
        }
        if(!id_check){
            modalOpen('아이디 중복체크가 필요합니다.')
            return
        }
        let val = validateUserData(user_email, password)
        if(val){
            alert(val)
            modalOpen(val)
            return
        }
        $.ajax({
            type : "POST",
            url : "/users/signup",
            data : {'email_give': user_email, 'pw_give': password, 'name_give': user_name, 'phone_give': user_phone, 'address_give':user_address},
            success : function (response){
                let result = response['msg']
                console.log(result)
                if(result === true && category === 'guest'){
                    refresh = 1
                    url = '/login'
                    modalOpen('회원가입 완료\n1000000포인트가 적립되었습니다.')
                } else{
                    modalOpen('회원가입 실패')
                }
                id_check = false
            }
        })
    }
    function emailCheck(){
        let user_email = $('#user_email').val()
        $.ajax({
            type : "POST",
            url : "/users/emailCheck/",
            data : {'email_give': user_email},
            success : function (response){
                let result = response['msg']
                if(result === true){
                    id_check = false
                    modalOpen('중복된 닉네임이 있습니다.')
                }else{
                    id_check = true
                    modalOpen('중복된 닉네임이 없습니다.')
                }
            }
        })
    }
</script>
</html>