<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap"
        rel="stylesheet" />
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.1/css/line.css" />
    <!-- JQUERY-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../../css/admin_page.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/chatroom.css" type="text/css">
    <link rel="stylesheet" href="../../css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="../../css/manage_user.css">
</head>

<body>
    <%-include('../component/header.ejs')%>
    <section class="page-header">
        <h2>유저</h2>
    </section>
    <section class="test">

        <div class="content">
            <h2 class="page-title">Manage Posts</h2>

            <table>
                <thead>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th colspan="2">수정</th>
                </thead>
                <tbody>
                    <tr>
                        <a href="" class="btn">유저 탈퇴</a>

                        <td><a href="" class="edit">edit</a></td>
                        <td><a href="" class="delete">edit</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </section>
    <script src="../../js/sticky-bar.js" type="text/javascript"></script>
    <script src="../js/admin.js"></script>
</body>

</html>